[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/AlcidesAndrade
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AlcidesAndrade
	label-Verified = -1..+1 group user/AlcidesAndrade
	push = group user/AlcidesAndrade
	read = group user/AlcidesAndrade
	rebase = group user/AlcidesAndrade
	removeReviewer = group user/AlcidesAndrade
	submit = group user/AlcidesAndrade
[access "refs/heads/*"]
	create = group user/AlcidesAndrade
	push = +force group user/AlcidesAndrade
	pushMerge = group user/AlcidesAndrade
	read = group user/AlcidesAndrade
[access "refs/tags/*"]
	push = group user/AlcidesAndrade
	push = +force group user/AlcidesAndrade
